<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <img src="../../assets/welcome.jpg">
    <p>
        Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, morals, beliefs, and habits. Educational methods include teaching, training, storytelling, discussion and directed research. Education frequently takes place under the guidance of educators, however learners can also educate themselves
    </p>
    
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>
