<h2>Update the student details if required</h2>
<div class="container">
<form #login="ngForm">
   
    <div class="form-group row">
        <label class="form-label col-md-3 col-sm-3" for="text">Enter Student id:</label>
           <input type="text" class="form-class col-md-3 col-sm-3" [(ngModel)]="studentob.id"  name="id">
    </div>
    
    <div class="form-group row">
        <label class="form-label col-md-3 col-sm-3"for="text">Enter First name:</label>
        <input type="text" class="form-class col-md-3 col-sm-3"  [(ngModel)]="studentob.fname" name="fname">
    </div>

    <div class="form-group row">
      <label class="form-label col-md-3 col-sm-3"for="text">Enter Last name:</label>
      <input type="text" class="form-class col-md-3 col-sm-3" [(ngModel)]="studentob.lname"  name="lname">
  </div>
    
  
  
    <div class="form-group row">
      <label class="form-label col-md-3 col-sm-3" for="text" class="form-label">Select course:</label>
      
      <select name="courses" class="form-class col-md-3 col-sm-3" [(ngModel)]="studentob.course" id="courses" >
        
        <option value="Angular">Angular</option>
        <option value="Data Science">Data Science</option>
        <option value="Networking">Networking</option>
        <option value="Node">Node</option>
     
      </select>
    </div>

    <div class="form-group row">
      <label class="form-label col-md-3 col-sm-3" for="text">Enter Email:</label>
      <input type="text" class="form-class col-md-3 col-sm-3" [(ngModel)]="studentob.email" name="email">
  </div>
  <div class="form-group row">
    <label class="form-label col-md-3 col-sm-3" for="text">Enter password:</label>
    <input type="text" class="form-class col-md-3 col-sm-3" [(ngModel)]="studentob.password" name="password">
</div>

    
  <button type="submit" class="btn btn-danger" *ngIf="isEdit" (click)="update(login)">Update</button>

</form>
</div>
<br>
<h3>Student List</h3>

<table class="table table-striped table-warning">
    <thead>
    <tr>
    <th scope="col">Id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Course</th>
    <th scope="col">E-mail</th>
    <th scope="col">Password</th>
    <th scope="col">Delete</th>
    <th scope="col">Update</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let st of studentss">
        <td>{{st.id}}</td>
        <td>{{st.fname}}</td>
        <td>{{st.lname}}</td>
        <td>{{st.course}}</td>
        <td>{{st.email}}</td>
        <td>{{st.password}}</td>
        <td><button (click)="delete(st.id1)">Delete</button></td>
        <td><button (click)="edit(st)">Edit</button></td>
       </tr>
</tbody>
</table>    















